* {
    font-family: Helvetica;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--color-dark);
    color: var(--color-zero);
}

a {
    text-decoration: none;
    color: var(--color-first);
    transition: 0.5s;
}

a:hover {
    color: var(--color-second);
}